.game{
    width: 800px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.game .sky{
    background: url(./img/sky.png);
    height: 100%;
    width: 200%;
    position: absolute;
    left: 0;
    top: 0;
}
.game .bird{
    background: url(./img/bird.png) no-repeat;
    width: 30px;
    height: 22px;
    position: absolute;
    left: 150px;
    top: 150px;
}
.pipe{
    position: absolute;
    height: 100px;
    width: 52px;
    left: 500px;
}
.pipe.up{
    background: url(./img/pipe1.png);
    top: 0;
    background-position: bottom;
}
.pipe.down{
    background: url(./img/pipe2.png);
    bottom: 0;
}
.info{
    text-align: center;
}